'use strict';

/**
 * Read the documentation (https://siapi.io/documentation/developer-docs/latest/development/backend-customization.html#lifecycle-hooks)
 * to customize this model
 */

module.exports = {};
